 {%- comment %}
{%
  include '{name}-cart.js' with
    cart: cart
 %}
{% endcomment %}
<div id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section cart-page" data-check-for-order="true">
  {% section 'cart__banner' %}
  {% section 'cart__main' %}
</div>