{% layout none %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
{% style %} body { margin: 0; } {% endstyle %}
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/SbKQ3SPav59CTnyiry7i2rM79p81H6l6zbPpa1R1" type="text/javascript"></script>
</head>
<body>
<div class="yotpo-widget-instance" data-yotpo-instance-id="402826" widget-type="SubscriptionsCustomerPortal" storefront-theme="unknown" injection="auto"></div>
</body>
</html>